
.vs/CorePlusWebApi/v15/Server/sqlite3/db.lock
.vs/CorePlusWebApi/v15/Server/sqlite3/storage.ide
.vs/CorePlusWebApi/v15/Server/sqlite3/storage.ide-shm
.vs/CorePlusWebApi/v15/Server/sqlite3/storage.ide-wal
CorePlusWebApi/obj/CorePlusWebApi.csproj.nuget.cache
CorePlusWebApi/obj/CorePlusWebApi.csproj.nuget.g.props
CorePlusWebApi/obj/project.assets.json
CorePlusWebApi/obj/CorePlusWebApi.csproj.nuget.cache
CorePlusWebApi/obj/CorePlusWebApi.csproj.nuget.g.props
CorePlusWebApi/obj/project.assets.json
CorePlusWebApi/obj/CorePlusWebApi.csproj.nuget.cache
CorePlusWebApi/obj/CorePlusWebApi.csproj.nuget.g.props
CorePlusWebApi/obj/CorePlusWebApi.csproj.nuget.cache
CorePlusWebApi/obj/CorePlusWebApi.csproj.nuget.g.props
CorePlusWebApi/obj/project.assets.json
.vs/CorePlusWebApi/DesignTimeBuild/.dtbcache
.vs/CorePlusWebApi/v15/.suo
CorePlusWebApi/obj/CorePlusWebApi.csproj.nuget.cache
CorePlusWebApi/obj/CorePlusWebApi.csproj.nuget.g.props
CorePlusWebApi/obj/project.assets.json
CorePlusWebApi/obj/project.assets.json
*.json
*.props
*.cache
CorePlusWebApi/obj/CorePlusWebApi.csproj.nuget.cache
*.cache
*.cache
CorePlusWebApi/bin/Debug/netcoreapp2.0/CorePlusWebApi.pdb
CorePlusWebApi/bin/Debug/netcoreapp2.0/CorePlusWebApi.dll
